extends layout

block content
  h1= title

  table
    each author in author_list
      tr
        td 
          a(href=author.url) #{author.name}
        td #{author.date_of_birth}
        td #{author.date_of_death}
      tr
    else
      li There are no authors.